{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "googleappsscript"
  ],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "error"
  },
  "globals": {
    "OAuth1": true,
    "OAuth2": true,
    "FirebaseApp": true
  }
}