{
  "root": true,
  "extends": ["labnol", "plugin:jest/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": true
      }
    ]
  },
  "globals": {
    "OAuth1": true,
    "OAuth2": true
  }
}
